* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#carbon {
  background-image: url("../public/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  width: 100vw;
  z-index: -100;
}

#space {
  background: url("../public/background2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  width: 100vw;
  z-index: -100;
}
